[submodule "auth"]
	path = nest-microservice-auth
	url = https://github.com/JUNGJUNYONG/nest-microservice-auth.git
[submodule "user"]
	path = nest-microservice-user
	url = https://github.com/JUNGJUNYONG/nest-microservice-user.git
[submodule "gateway"]
	path = nest-microservice-gateway
	url = https://github.com/JUNGJUNYONG/nest-microservice-gateway.git
[submodule "chat"]
	path = nest-microservice-chat
	url = https://github.com/JUNGJUNYONG/nest-microservice-chat.git
